<div class="card" (click)="toggleUnits()" [ngStyle]="setStyles()">
	<div class="card-header" [class.invisible]="!dataReceived">
		<div class="col-xs-8" id="location-wrapper">
			<p><i id="location-icon" class="fa fa-map-marker"></i>{{ currentLocation }}</p>
		</div>
		<div class="col-xs-4 text-xs-right">
			<h1>{{ weatherData.temp | tempUnit: currentTempUnit | number: '.0-0' }}&deg;</h1>
		</div>
	</div>
	<div class="card-block">
		<div id="indicator" [hidden]="dataReceived">
			<i class="fa fa-circle-o-notch fa-spin fa-4x fa-fw"></i>
		</div>
		<canvas id="icon" [hidden]="!dataReceived"></canvas>
		<p>{{ weatherData.summary }}</p>
	</div>
	<div class="card-footer" [class.invisible]="!dataReceived">
		<div class="row" id="detail-row">
			<div class="col-xs-5">
				<p>Wind</p>
				<p class="unit-label">{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
			</div>
			<div class="col-xs-5 offset-xs-2">
				<p>Humidity</p>
				<p>{{ weatherData.humidity | percent }}</p>
			</div>
		</div>
		<div class="row" id="helper-row">
			<small class="text-muted">Click to switch between &deg;F/MPH and &deg;C/MPH</small>
		</div>
	</div>
</div>